[Unit]
Description=Thinger.io monitor client for the Internet of Things
After=network.target

[Service]
ExecStart=$BIN_DIR/thinger_monitor -c $CONFIG_DIR/thinger_monitor.json
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

[Install]
WantedBy = multi-user.target

