[Unit]
Description=Thinger.io monitor client for the Internet of Things
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
$certs_dir_env
Environment=HOME=$home_dir
ExecStart=$bin_dir/thinger_monitor -c $config_dir/thinger_monitor.json
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

